<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/0f48d8c00d.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    
     {% load static %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />


        <title>
        {% block title %}
           {{title}}
        {% endblock title %}

        | SyS L4MV
         </title>
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    
   <img src="{% static 'img/logoo.png' %} " alt="" class="img-flud"/>
        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-auto">
                    <a href="panel.html" class="nav-link">Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Modulo 1
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="categorias.html" class="dropdown-item">Categorías</a>
                        <a href="productos.html" class="dropdown-item">Productos</a>
                        <a href="inventario.html" class="dropdown-item">Inventario</a>
                       <div class="dropdown-divider"></div>
                       <a href="pedidos.html" class="dropdown-item">Pedidos</a>
                       <div class="dropdown-divider"></div>
                       <a href="cupones.html" class="dropdown-item">Cupones</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administración
                        </a>
    
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Usuarios</a>
                            <a href="#" class="dropdown-item">Configuración</a>
                            <a href="#" class="dropdown-item">Roles</a>
                           <div class="dropdown-divider"></div>
                           <a href="#" class="dropdown-item">Sistema</a>                           
                </li>
            </ul>

            <form action="" class="form-inline my-2 my-lg-0 ml-auto">
                <input type="search" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Search">
                
                <button class="btn btn-primary my-2 my-sm-0"><i class="fas fa-search"></i> </button>
            </form>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i>
                        
                        {% if user.email %}
    {{request.user.username}}

   

{% endif %}

                        </a>

                        <div class="dropdown-menu">
                            <a href="perfil.html" class="dropdown-item"><i class="fas fa-user-circle"></i> Perfil</a>

                            <a href="#" class="dropdown-item"><i class="fas fa-cog"></i> Configuraciones</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <i class="fas fa-user-times"></i> Salir
                        </a>
                    </li>
                </ul>
            
        </div>
       
    </nav>

    <!--Layout principal-->
    <div class="container-fluid mt-5">
        <div class="row">
            <!--Layout de 3 columnas-->
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4><i class="fas fa-align-justify"></i> Menú Principal</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="categorias.html">Categorías</a>
                                <span class="badge badge-primary badge-pill">10</span>
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="productos.html">Productos</a>
                                <span class="badge badge-primary badge-pill">200</span>
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inventario.html">Inventario</a>
                                <span class="badge badge-primary badge-pill">500</span>
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="pedidos.html">Pedidos</a>
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="cupones.html">Cupones</a>
                                <span class="badge badge-primary badge-pill">20</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card mt-5">
                        <div class="card-header bg-dark text-white">
                            <h4><i class="fas fa-align-justify"></i> Administración</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Usuarios</a>                                  
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Configuraciones</a>                                   
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Roles</a>                                  
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="">Sistema</a>                                  
                                </li>
                               
                            </ul>
                        </div>
                    </div>

            </div>

            <!--Layout de 9 columnas-->
            <div class="col-sm-12 col-md-9">
               <div class="card">
                   <div class="card-header bg-dark text-white">
                       <h4><i class="fas fa-shopping-card"></i> Panel de Control/Ecommerce</h4>
                   </div>
                   <div class="card-body">
                       <!--USAMOS FLEXBOX AQUI JUSTIFY CONTENT - CONTENT AROUND-->
                       <div class="d-flex justify-content-around row-h1">
                           <div class="col-sm-12 col-md-3 card py-3 bg-danger text-center text-white">
                                <i class="fas fa-shopping-cart" style="font-size: 4rem;"></i>
                                <h4>Ventas</h4>
                                <p>100 Nuevos pedidos</p>            
                           </div>

                           <div class="col-sm-12 col-md-3 card py-3 bg-warning text-center text-white">
                                <i class="fas fa-shopping-cart" style="font-size: 4rem;"></i>
                                <h4>Ventas</h4>
                                <p>100 Nuevos pedidos</p>            
                           </div>

                           <div class="col-sm-12 col-md-3 card py-3 bg-success text-center text-white">
                                <i class="fas fa-table" style="font-size: 4rem;"></i>
                                <h4>Productos</h4>
                                <p>50 Nuevos Productos</p>            
                           </div>
                       </div>
                   </div>
               </div>


               <!--Últimos productos-->
               <div class="card mt-5">
                   <div class="card-header bg-dark text-white">
                       <h4><i class="fas fa-table"></i>Ultimas Personas</h4>
                   </div>
                   <div class="card-body">
                       <table class="table table-striped">
                           <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Rut</th>
                                   <th>Nombre</th>
                                   <th>Apellido</th>
                                   <th>Foto</th>
                            
                               </tr>
                           </thead>
                           <tbody>
                           {% for person in personas %}
                               <tr>
                                   <td>{{person.id}}</td>
                                   <td>{{person.rut}}</td>
                                   <td>{{person.nombre}}</td>
                                   <td>{{person.apellido}}</td>
                                   
                               </tr>

                            {% endfor %}
                               
                           </tbody>
                       </table>
                   </div>
               </div>

               <!--Paginación-->
               <div class="mt-3">
                   <nav aria-label="Page navigation">
                       <ul class="pagination">
                           <li class="page-item">
                               <a href="#" class="page-link" aria-label="Previous">
                                   <span aria-hidden="true">&laquo;</span>
                               </a>
                           </li>
                           <li class="page-item active">
                               <a href="#" class="page-link">1</a>
                           </li>
                           <li class="page-item">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                       </ul>
                   </nav>
               </div>

               
            </div>
        </div>
    </div>









    <!--Footer-->
    <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead text-center">
                        2021 - Todos los derechos &copy;
                        <span>L4mv</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>